<section>
  <h1>Subscribe</h1>
  <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://perezcarballo.us7.list-manage.com/subscribe/post?u=5fa019ac116b09dab3e59aad3&amp;id=5147af514e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
  <label for="mce-EMAIL">Enter your email address to receive updates. </label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="NetID@umass.edu">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</section>